.Container-tutorial {
  //display: none;
  width: 80vw;

  .sassTest {
    display: flex;
    width: 100%;
    border: 1px solid white;
    //padding: 1rem;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;

    hr {
      margin: 1rem 0;
    }
  }
}
