/**
리액트 프로젝트에서 컴포넌트를 스타일링 할 때 CSS Module 기술을 사용하면
CSS 클래스가 중첩되는 것을 완벽히 방지할 수 있다.

CRA로 만든 프로젝트에서 CSS Module을 사용할 때
CSS 파일의 확장자를 .module.css(scss)로 만든다.

리액트 컴포넌트 파일에서 이 CSS 파일을 불러올 때
CSS 파일에 선언한 클래스 이름들이 모두 고유값이 된다.
고유 CSS 클래스 이름이 만들어지는 과정에서 파일경로, 파일이름, 클래스 이름 해쉬값 등이 사용
 */

.Box {
  background: black;
  color: white;
  padding: 2rem;
  margin-top: 1rem;
}